name: ci

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
          cache: true

      - name: Go fmt
        run: |
          test -z "$(gofmt -l .)"

      - name: Go vet
        run: |
          go vet ./...

      - name: Go test
        run: |
          go test ./... -race

      - name: Build
        run: |
          go build -o bin/ffserver ./cmd/server
